<div class="container">
</div>

<div class="banner-container">
  <%= image_tag "daniel-guerra-MjZwrERreuY-unsplash.jpg",
                alt: "Description",
                class: "banner-image" %>
  <h1 class="banner-title"><%= @list.name %> movies</h1>
</div>

<div class="container">
  <%= link_to "Back to list", lists_path, class: "btn btn-info" %>
  <%= link_to "Create a bookmark", new_list_bookmark_path(@list), class: "btn btn-info" %>
</div>

<div class="container">
  <div class="row d-flex flex-wrap justify-content-start">
    <% @bookmarks.each do |b| %>
      <div class="col-md-3 mb-4"> <!-- Carte en colonne avec une largeur de 3 colonnes -->
        <div class="card" style="width: 18rem;">
          <%= image_tag b.movie.poster_url, alt: b.movie.poster_url, class: "card-img-top" %>
          <div class="card-body">
            <h5 class="card-title"><%= b.movie.title %></h5>
            <p class="card-text"><%= b.movie.rating %>/10</p>
            <p class="card-text"><%= b.movie.overview %></p>
            <h6 class="card-subtitle mb-2 text-muted">
              <%= image_tag "apostrophe.png", alt: "apostrophe.png", width:50%>
              <%= b.comment %>
            </h6>
            <a href="#" class="btn btn-outline-danger">delete</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
