<div class="container">
</div>

<div class="banner-container">
  <%= image_tag "daniel-guerra-MjZwrERreuY-unsplash.jpg",
                alt: "Description",
                class: "banner-image" %>
  <h1 class="banner-title"><%= @list.name %> movies</h1>
</div>

<div class="container">
  <h1>New bookmark</h1>
   <%= link_to "Back to bookmark list", list_path(@list), class: "btn btn-info" %>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
     <%= f.association :movie %>
    <%= f.submit class: "btn btn-info"%>
  <% end %>
</div>
